.content-date {
    display: flex;
    justify-content: right;
    margin-right: 1%;
}

.button {
    width: 30px;
    height: 30px;
    margin-top:15px;
    background-color: #b5d8f0;

}

@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

